body {
	background-color: #000;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	text-align: left;
}
header {
	position: relative;
	height: 200px;
	background-color: #fff;
	color: #F1EADC;
}
#title {
	position: relative;
	top: 20px;
	left: 20px;
	color: #000;
}
#links {
	font-size: 12px;
}
h1 {
	margin: 0;
	font-weight: normal;
}
h2 {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 3px;
}
a {
	color: #000;
}
#chart {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.line {
	fill: #000;
}
#content {
	background-color: #fff;
	padding:40px;
	width: 75%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
hr {
    padding: 0;
    border: none;
    border-top: 1px solid #333;
    margin-top: 40px;
    margin-bottom: 40px;
}
#chart-source {
	color: #fff;
	font-size: 75%;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	padding-left:80px;
	width: 75%;
	text-align: right;
}
#chart-source a {
	color:#fff;
}
